# Ignore Python cache files
__pycache__/
*.py[cod]
*__pycache__*
*.pyc
*dist/
*venv/
*.docx
*.exe
*.toc
*.zip
*.pkg
*.pyz
src/database/json/config.json
# Ignore all content in src/assets/pdf
src/database/pdf/
relatorios/
build/
main.spec
dist/
email.csv
